:root {
  --syntax_normal: #1b1e23;
  --syntax_comment: #a9b0bc;
  --syntax_number: #20a5ba;
  --syntax_keyword: #c30771;
  --syntax_atom: #10a778;
  --syntax_string: #008ec4;
  --syntax_error: #ffbedc;
  --syntax_unknown_variable: #838383;
  --syntax_known_variable: #005f87;
  --syntax_matchbracket: #20bbfc;
  --syntax_key: #6636b4;
  --mono_fonts: 82%/1.5 Menlo, Consolas, monospace;
}
/* .observablehq--collapsed,
.observablehq--expanded,
.observablehq--function,
.observablehq--gray,
.observablehq--import,
.observablehq--string:after,
.observablehq--string :before {
  color: var(--syntax_normal);
}
.observablehq--collapsed,
.observablehq--inspect a {
  cursor: pointer;
}
.observablehq--field {
  text-indent: -1em;
  margin-left: 1em;
}
.observablehq--empty {
  color: var(--syntax_comment);
}
.observablehq--blue,
.observablehq--keyword {
  color: #3182bd;
}
.observablehq--forbidden,
.observablehq--pink {
  color: #e377c2;
}
.observablehq--orange {
  color: #e6550d;
}
.observablehq--boolean,
.observablehq--null,
.observablehq--undefined {
  color: var(--syntax_atom);
}
.observablehq--bigint,
.observablehq--date,
.observablehq--green,
.observablehq--number,
.observablehq--regexp,
.observablehq--symbol {
  color: var(--syntax_number);
}
.observablehq--index,
.observablehq--key {
  color: var(--syntax_key);
}
.observablehq--prototype-key {
  color: #aaa;
}
.observablehq--empty {
  font-style: oblique;
}
.observablehq--purple,
.observablehq--string {
  color: var(--syntax_string);
}
.observablehq--error,
.observablehq--red {
  color: #e7040f;
}
.observablehq--inspect {
  font: var(--mono_fonts);
  overflow-x: auto;
  display: block;
  white-space: pre;
}
.observablehq--error .observablehq--inspect {
  word-break: break-all;
  white-space: pre-wrap;
} */
/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}