<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network of NYU CS Professor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_n.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .initial a {
          text-transform: initial;
        }
      </style>
</head>

<body>
    <script src="https://d3js.org/d3.v3.js"></script>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">KnowMyProfessor.com</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/">{{SCHOOL}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/">NYU</a></li>
                <li><a href="/NYU_Shanghai">NYU Shanghai</a></li>
                <li><a href="/NYU_AbuDhabi">NYU AbuDhabi</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/">Start Race <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/race/NYU">by yearly citation</a></li>
                  <li><a href="/race/NYU/total_">by total citation</a></li>
                </ul>
              </li>
          </ul>
        </div>
      </nav>
    
    <div class="container">
        
            
          <div class="row">
            <div class="col-sm-12 center-block">
              <h1>Here is {{SCHOOL}}'s citation network.</h1>
          `</div>
          </div>
          <div class="row">
                <div class="col-sm-10 center-block" id = "gg"></div>
            <div class="col-sm-2 center-block">
                <div class="type-1">
                    <h2>Start a race</h2>
                    <div>
                        <a href = '/race/NYU' class="btn btn-1">
                        <span class="txt">by yearly citations&nbsp; &nbsp; &nbsp; &nbsp; </span>
                        <span class="round"><i class="fa fa-chevron-right"></i></span>
                        </a>
                    </div>
                    <p></p>
                    <div>
                        <a href='/race/NYU/total_' class="btn btn-2">
                        <span class="txt">by total citations&nbsp; &nbsp; &nbsp; &nbsp; </span>
                        <span class="round"><i class="fa fa-chevron-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
          </div>
        </div>
    <script>
        // THINGS TO WORK ON
// 1. make layout wider
// 2. highlight that network
// 3. can also click name
// 4. for the color scale we added 0 to the data
// {"name": "", "group": 0, "size": 0},

//Constants for the SVG
var width = 1000,
  height = 800;

//Set up the colour scale
var color = d3.scale.category20b();

//Set up the force layout
var force = d3.layout
  .force()
  .charge(-480)
  .linkDistance(100)
  .size([width, height]);

//Append a SVG to the body of the html page. Assign this SVG as an object to svg
var svg = d3
  .select("#gg")
  .append("svg")
  .attr("width", width)
  .attr("height", height);

//Read the data from data.json
d3.json("{{ url_for('static', filename= 'assets/data/')}}{{SCHOOL_ + '.json' }}", function (data) {
  force.nodes(data.nodes).links(data.links).start();

  var link = svg
    .selectAll(".link")
    .data(data.links)
    .enter()
    .append("line")
    .attr("class", "link")
    .style("stroke-width", function (d) {
      return Math.sqrt(d.value);
    });

  var node = svg
    .selectAll(".node")
    .data(data.nodes)
    .enter()
    .append("g")
    .attr("class", "node")
    .call(force.drag);

  node
    .append("circle")
    .attr("stroke", "black")
    .attr("stroke-width", 1)
    .attr("r", function (d) {
      //return d.size / 10;
      return Math.sqrt(d.size) * 3;
    })
    .style("fill", function (d) {
      return color(d.group);
    })
    .on('click', function(d,i) {
        if (event.defaultPrevented) return;
        window.open("/" + d.name)
    
      })

    

  node
        .append("text")
        .attr("dx", function (d) {
        //return d.size / 10;
        return Math.sqrt(d.size) * 3 + 5;
        })
        .attr("dy", ".35em")
        .text(function (d) {
        return d.name;
        })
        
    ;

  // var text = svg
  //   .selectAll("text")
  //   .data(data.nodes)
  //   //.enter()
  //   .append("g")
  //   .text(function (d) {
  //     return d.name;
  //   })
  //   .attr("dx", 10)
  //   .attr("dy", ".35em")
  //   .attr("font-size", 10);
  // // .call(drag(simulation))
  // // .on("mouseover.fade", fade(0.1))
  // // .on("mouseout.fade", fade(1));

  // highlight
  // node
  //   .on("mouseover", (d) => {
  //     link.style("stroke-opacity", function (l) {
  //       if (d === l.source) return 1;
  //       else return 0.5;
  //     });
  //     // NEED FIX
  //     node.style("opacity", function (l) {
  //       if (d === l.source) return 1;
  //       else return 0.5;
  //     });
  //   })
  //   .on("mouseout", (d) => {
  //     link.style("stroke-opacity", 1);
  //     node.style("opacity", 1);
  //   });

  force.on("tick", function () {
    link
      .attr("x1", function (d) {
        return d.source.x;
      })
      .attr("y1", function (d) {
        return d.source.y;
      })
      .attr("x2", function (d) {
        return d.target.x;
      })
      .attr("y2", function (d) {
        return d.target.y;
      });

    //Changed

    d3.selectAll("circle")
      .attr("cx", function (d) {
        return d.x;
      })
      .attr("cy", function (d) {
        return d.y;
      });

    d3.selectAll("text")
      .attr("x", function (d) {
        return d.x;
      })
      .attr("y", function (d) {
        return d.y;
      });

    //End Changed
  });
});
</script>

</body>

</html>